.CreateNewGroup {
    width: 600px;
    margin: 5vh auto;

    .title {
        border-bottom: 1px solid #DDD;
    }

    .label {
        display: block;
        margin: 20px 0;

        .text {
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }

    .submitButton {
        @extend .label;
    }
}