.ConflictEditor {
    @import "../../../../../../GlobalStyle/COLOR.css";

    border: 1px solid var(--GLOBAL_BORDER_COLOR);
    border-radius: 2px;

    .header {
        border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        background-color: var(--GLOBAL_CARD_HEADER_BACKGROUND_COLOR);

        .filePath {
            font-size: 16px;
            font-weight: bold;
        }

        .checkboxWrapper {
            display: flex;
            align-items: center;
            cursor: pointer;

            .text {
                margin-left: 5px;
            }
        }
    }
}