.HTMLPreviewer {
    padding: 0;

    h1 {
        border-bottom: 1px solid #DDD;
    }

    blockquote {
        padding-left: 15px;
        border-left: 5px solid #6CF;
    }

    pre code {
        border-radius: 3px;
    }
}