.HTMLPreviewer {
    @import "../../GlobalStyle/COLOR.css";

    padding: 0;

    h1 {
        border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);
    }

    blockquote {
        padding-left: 15px;
        border-left: 5px solid var(--GLOBAL_BLOCKQUOTE_LEFT_BORDER_COLOR);
    }

    code {
        border-radius: 2px;
        background-color: var(--GLOBAL_CODE_BLOCK_BACKGROUND_COLOR);
        padding: 2px 5px;
    }

    pre code {
        padding: 15px;
    }

    img {
        max-width: 100%;
    }

    table {
        margin: 1em 0;
        border-collapse: collapse;

        thead {
            border-top: 2px solid var(--GLOBAL_BORDER_COLOR);
            border-bottom: 2px solid var(--GLOBAL_BORDER_COLOR);
        }

        th, td {
            line-height: 1em;
            padding: 6px 8px;
            color: var(--GLOBAL_BORDER_COLOR);
        }

        tbody {

            tr {

                &:last-child {
                    border-bottom: 2px solid var(--GLOBAL_BORDER_COLOR);
                }
            }
        }
    }
}