.CommitInfoBar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left, .right {
        display: flex;
        align-items: center;
    }

    .left > *, .right > * {
        margin: 0 3px;
    }

    .left {
        display: inline-flex;
        align-items: center;

        .message {
            width: 25em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}