@import "../../../../GlobalStyle/COLOR.css";

.Logo {
    display: flex;
    justify-content: center;
    align-content: center;

    .title {
        font-size: 25px;
        font-weight: bolder;
        font-family: serif;
        line-height: 1.25em;
        color: var(--GLOBAL_TEXT_COLOR);
        transition: 0.25s color;

        &:hover {
            color: var(--GLOBAL_LIGHT_TEXT_COLOR);
        }
    }

    .logoWrapper {
        margin-right: 5px;

        .logo {
            height: 35px;
            display: inline-block;
        }
    }
}