@import "../../../../GlobalStyle/COLOR.css";
@import "../../LinkStyle";

.Logo {
    display: flex;
    justify-content: center;
    align-content: center;

    .title {
        font-size: 25px;
        font-weight: bolder;
        font-family: serif;
        line-height: 1.25em;

        @extend %link;
    }

    .logoWrapper {
        margin-right: 5px;

        .logo {
            height: 35px;
            display: inline-block;
        }
    }
}