.Diff {

    .diffInfo {
        padding: 15px 0;
    }

    .fileDiffsWrapper {
        margin-bottom: 15px;

        .fileDiffWrapper {
            margin: 15px 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}