.InfoBar {
    display: flex;
    justify-content: stretch;
    align-items: center;
    border: 1px solid #DDD;
    padding: 10px 0;
    border-radius: 3px;

    .info {
        width: 100%;
        text-align: center;
    }
}