.Item {
    @import "../../../../../../../../GlobalStyle/COLOR.css";
    padding: 7px 10px;

    .icon, .fileName, .message, .time {
        display: inline-block;
    }

    .icon {
        width: 2%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fileName {
        width: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .message {
        width: 60%;
        padding: 0 5px;
        box-sizing: border-box;
        color: var(--GLOBAL_LIGHT_TEXT_COLOR);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .time {
        text-align: right;
        width: 13%;
    }
}