#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    animation: fade 2s;
    animation-iteration-count: infinite;
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #EEE;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}