.Issue {
    margin-top: 15px;

    .commentsWrapper {
        margin-top: 15px;
    }

    .commentPosterWrapper {
        margin-top: 15px;
    }

    .operationButtonsWrapper {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }
}