.Line {
    @import "../../../../../../../../../../../../GlobalStyle/COLOR.css";

    %fontStyle {
        line-height: 1.5em;
        font-size: 14px;
    }

    .lineNumber {
        text-align: right;
        padding: 0 10px;
        width: 1%;
        min-width: 50px;
        @extend %fontStyle;
        color: var(--GLOBAL_LIGHT_TEXT_COLOR);

        &.addition {
            background-color: var(--GLOBAL_CODE_DIFF_ADDITION_BACKGROUND_COLOR);
        }

        &.deletion {
            background-color: var(--GLOBAL_CODE_DIFF_DELETION_BACKGROUND_COLOR);
        }
    }

    .codeWrapper {
        @extend %fontStyle;
        padding: 0 10px;
        overflow: visible;
        transition: 0.25s background-color;

        .code {
            margin: 0;
        }

        &.addition {
            background-color: var(--GLOBAL_CODE_DIFF_ADDITION_BACKGROUND_COLOR);
        }

        &.deletion {
            background-color: var(--GLOBAL_CODE_DIFF_DELETION_BACKGROUND_COLOR);
        }
    }
}