.Register {
    width: 100vw;
    display: flex;
    justify-content: center;

    .form {
        width: 25vw;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media all and (max-width: 1000px) {
            width: 75vw;
        }

        @media all and (max-width: 500px) {
            width: 90vw;
        }

        .logo {
            display: block;
            height: 200px;
            margin-bottom: 25px;
        }

        .button {
            margin-top: 10px;
        }
    }
}