.PersonalCenter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 20px;

    .profileWrapper {
        width: 25%;
        padding: 0 25px;
    }

    .tabWrapper {
        width: 75%;
        padding: 0 25px;
    }
}