.CompareCard {

    .selectorWrapper {
        display: flex;
        align-items: center;

        .repositoriesSelectorWrapper {
            margin-left: 15px;
        }
    }

    .isMergeableIndicatorWrapper {
        margin-top: 10px;
    }
}