.Comments {

    .commentsWrapper {
        margin-top: 15px;

        .commentWrapper {
            margin-top: 15px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .commentPosterWrapper {
        margin-top: 15px;
    }

    .operationButtonWrapper {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }

    .loadMoreButtonWrapper {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
}