.Repository {
    width: 100%;
    margin: 5vh auto;

    .header, .tabContent {
        width: 1000px;
        margin: 0 auto;
    }

    .header {
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;

        .basicInfo {
            display: flex;
            align-items: center;

            .usernameAndName {
                display: inline-block;
                font-size: 1rem;
            }
        }
    }

    .tabContent {

    }
}