.Repository {
    width: 100%;
    margin: 5vh auto;

    .header, .tabContent {
        width: 1000px;
        margin: 0 auto;
    }

    .header {
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;

        .basicInfo {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .tagAndRepository {
                display: flex;
                align-items: center;

                .tag {
                    margin-right: 5px;
                }

                .usernameAndName {
                    font-size: 18px;
                    line-height: 1;
                }
            }

            .forkFrom {
                margin-top: 5px;
                margin-left: 45px;
                font-size: 12px;
                line-height: 1em;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: var(--GLOBAL_LIGHT_TEXT_COLOR);

                .text {
                    margin-right: 2px;
                }
            }
        }

        .buttonArea {
            display: flex;
            align-items: center;

            .buttonWrapper {
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .tab {

        .tag {
            margin-right: 0;
            margin-left: 5px;
        }
    }
}