.PullRequest {
    @import "../../../../../../../../GlobalStyle/COLOR.css";

    border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);
    padding: 10px 20px;

    &:last-child {
        border-bottom: 0;
    }

    .titleWrapper {
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 16px;

        .iconWrapper {
            margin-right: 5px;
        }
    }

    .info {
        color: var(--GLOBAL_LIGHT_TEXT_COLOR);
    }
}