:root {
    --GLOBAL_BACKGROUND_COLOR: #FFF;
    --GLOBAL_BORDER_COLOR: #DDD;
    --GLOBAL_CODE_BLOCK_BACKGROUND_COLOR: #F6F6F6;
    --GLOBAL_TEXT_COLOR: #333;
    --GLOBAL_LIGHT_TEXT_COLOR: #999;
    --GLOBAL_CODE_DIFF_ADDITION_BACKGROUND_COLOR: rgb(205, 255, 216);
    --GLOBAL_CODE_DIFF_DELETION_BACKGROUND_COLOR: rgb(255, 220, 224);
    --GLOBAL_CARD_HEADER_BACKGROUND_COLOR: rgb(250, 251, 252);
    --GLOBAL_BLOCKQUOTE_LEFT_BORDER_COLOR: rgb(102, 204, 255);
}

@media (prefers-color-scheme: dark) {
    :root {
        --GLOBAL_BACKGROUND_COLOR: #252525;
        --GLOBAL_BORDER_COLOR: #444;
        --GLOBAL_CODE_BLOCK_BACKGROUND_COLOR: #000;
        --GLOBAL_TEXT_COLOR: #AAA;
        --GLOBAL_LIGHT_TEXT_COLOR: #888;
        --GLOBAL_CODE_DIFF_ADDITION_BACKGROUND_COLOR: rgb(5, 55, 16);
        --GLOBAL_CODE_DIFF_DELETION_BACKGROUND_COLOR: rgb(55, 20, 24);
        --GLOBAL_CARD_HEADER_BACKGROUND_COLOR: rgb(50, 51, 52);
        --GLOBAL_BLOCKQUOTE_LEFT_BORDER_COLOR: rgb(2, 104, 155);
    }
}