@font-face {
    font-family: "Source Code Pro";
    font-weight: 100;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-ExtraLight.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 100;
    font-style: italic;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-ExtraLightIt.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 200;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-Light.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 200;
    font-style: italic;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-LightIt.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 400;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-Regular.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 500;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-Medium.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 500;
    font-style: italic;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-MediumIt.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 600;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-Semibold.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 600;
    font-style: italic;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-SemiboldIt.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 700;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-Bold.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 700;
    font-style: italic;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-BoldIt.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 900;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-Black.otf.woff2");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 900;
    font-style: italic;
    src: url("../Static/Font/SourceCodePro/SourceCodePro-BlackIt.otf.woff2");
}

html {
    font-size: 18px;
}

body {
    @import "COLOR.css";

    background-color: var(--GLOBAL_BACKGROUND_COLOR);
    color: var(--GLOBAL_TEXT_COLOR);
}