.Email {

    .form {
        display: flex;
        justify-content: space-between;

        .inputWrapper {
            width: 100%;
        }

        .saveButtonWrapper {
            margin-left: 10px;
        }
    }

    .emailForm {
        display: flex;
        justify-content: flex-start;

        .inputWrapper {
            width: 250px;
        }
    }
}