.Compare {
    margin: 15px 0;

    .compareCardWrapper {

    }

    .detailWrapper {
        margin-top: 15px;

        .detailTabs {
            margin-top: 15px;

            .pullRequestCommitsWrapper {
                margin-top: 15px;
            }

            .tag {
                margin-right: 0;
                margin-left: 5px;
            }
        }
    }
}