.FileReader {
    border: 1px solid #DDD;
    border-radius: 3px;

    .fileInfoBar {
        padding: 10px;
        border-bottom: 1px solid #DDD;

        & > * {
            display: inline-block;
        }

        .committerName, .fileName, .message, .commitHash, .time {
            margin: 0 3px;
        }

        .committerName, .fileName {
            font-weight: bold;
        }

        .commitHash, .time {
            float: right;
        }
    }

    .content {
        margin: 10px 25px;
        overflow: auto;
    }
}