.FileReader {

    .commitInfoBar {
        padding: 10px;
        border: 1px solid #DDD;
        border-radius: 3px;
        margin-bottom: 15px;

        & > * {
            display: inline-block;
        }

        .committerName, .fileName, .message, .commitHash, .time {
            margin: 0 3px;
        }

        .committerName, .fileName {
            font-weight: bold;
        }

        .commitHash, .time {
            float: right;
        }
    }

    .contentWrapper {
        border: 1px solid #DDD;
        border-radius: 3px;

        .fileInfoBar {
            padding: 10px;
            border-bottom: 1px solid #DDD;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .fileName {
                margin: 0 3px;
                font-weight: bold;
            }
        }

        .content {
            margin: 10px 25px;
            overflow: auto;
        }
    }
}