.RepositoryName {

    .label {

        .labelText {
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        .input {
            display: inline-block;
            width: 250px;
            margin-right: 5px;
        }

        .button {

        }
    }
}