.CriticalOperationConfirmModal {

    .content {

        .fuckAutocomplete {
            position: fixed;
            top: 9999999999px;
        }

        .warningWrapper {
            margin-bottom: 20px;
        }

        .input {
            margin: 5px 0;
        }
    }
}