.CodeReader {
    @import "../../GlobalStyle/COLOR.css";

    padding: 0;
    font-size: 14px;

    .line {
        cursor: pointer;

        &:hover {
            outline: 1px solid var(--GLOBAL_BORDER_COLOR);
        }

        .commentIcon {
            text-align: center;
            padding: 0 5px;
            color: var(--GLOBAL_LIGHT_TEXT_COLOR);
        }

        .lineNumber {
            text-align: right;
            width: 1%;
            padding: 0 10px;
            color: var(--GLOBAL_LIGHT_TEXT_COLOR);
        }

        .codeWrapper {
            width: 100%;

            .code {
                margin: 0;
            }
        }
    }
}