.CodeReader {
    @import "../../GlobalStyle/COLOR.css";

    font-size: 12px;

    .line {

        .lineNumber {
            text-align: right;
            width: 1%;
            min-width: 50px;
            padding: 0 10px;
            color: var(--GLOBAL_LIGHT_TEXT_COLOR);
        }

        .code {
            margin: 0;
        }
    }


}