.Comment {
    @import "../../../../GlobalStyle/COLOR.css";

    border: 1px solid var(--GLOBAL_BORDER_COLOR);
    border-radius: 3px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);
        background-color: var(--GLOBAL_CARD_HEADER_BACKGROUND_COLOR);

        .profileAndCreationTime {
            display: flex;
            align-items: center;

            .profileWrapper {
                display: flex;
                align-items: center;

                .avatarWrapper {
                    height: 3ex;
                    width: 3ex;
                    margin-right: 5px;
                }
            }


            .tag {
                margin-left: 5px;
                margin-right: 0;
            }

            .creationTime {
                margin-left: 5px;
            }
        }
    }

    .content {
        padding: 15px 25px;
    }
}