.Comments {

    .commentWrapper {

    }


    .isMergeableWrapper {
        margin-top: 15px;
    }

    .operationButtonWrapper {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }
}