.Root {
    @import "../../GlobalStyle/COLOR.css";

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    .topFiller {
        height: 50px;
        width: 100%;
    }

    .top {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: saturate(180%) blur(5px);
        padding: 5px 25px;

        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logoWrapper {
            margin-right: 20px;
        }

        .searchInputWrapper {

        }

        .accountMenuWrapper {
        }
    }

    .childrenWrapper {

    }

    $FOOTER_HEIGHT: 100px;

    .footerFiller {
        height: $FOOTER_HEIGHT;
        width: 100%;
    }

    .footer {
        box-sizing: border-box;
        width: 100%;
        height: $FOOTER_HEIGHT;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid var(--GLOBAL_BORDER_COLOR);

        .announce, .bugReport {
            line-height: 2;
        }
    }
}