.PullRequest {
    margin: 15px 0;

    .tabsWrapper {
        margin-top: 15px;

        .tag {
            margin-right: 0;
            margin-left: 5px;
        }

        .commitsWrapper {
            margin: 15px 0;
        }
    }
}