.CreateRepository {
    @import "../../GlobalStyle/COLOR.css";

    width: 600px;
    margin: 5vh auto;

    .label {
        display: block;
        margin: 20px 0;

        .inlineDescription {
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem;
            margin-left: 15px;
            color: var(--GLOBAL_LIGHT_TEXT_COLOR);
        }
    }

    .submitButton {
        @extend .label;
    }
}