.Tags {
    margin-top: 15px;

    .tagsWrapper {

        .tagCardWrapper {
            margin: 10px 0;
        }
    }

    .showMoreButtonWrapper {
        display: flex;
        justify-content: center;
    }
}