.GroupList {
    .groupWrapper {
        display: block;
        margin: 1vh 0;

        .groupName {
            display: inline-block;
            margin-right: 5px;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}