.Readme {
    border: 1px solid #DDD;
    border-radius: 3px;

    .title {
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px solid #DDD;
    }

    .contentWrapper {
        padding: 15px 32px;
    }
}