.CommitInfoCard {
    @import "../../../../../../GlobalStyle/COLOR.css";

    border: 1px solid var(--GLOBAL_BORDER_COLOR);
    border-radius: 5px;
    padding: 10px 15px;

    .messageWrapper {
        border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);

        .message {
            font-size: 18px;
            font-weight: bolder;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 10px;
        }

        .body {
            white-space: pre-wrap;
            word-wrap: break-word;
            margin: 0;
            padding-bottom: 15px;
        }
    }

    .infoWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        .info {
            display: flex;
            align-items: center;

            .committerWrapper {
                font-weight: bold;
                margin-right: 0.5em;
            }
        }

        .hashWrapper {


        }
    }
}