.FileReader {

    .commitInfoBar {
        margin-bottom: 15px;
        border: 1px solid #DDD;
        border-radius: 3px;
    }

    .contentWrapper {
        border: 1px solid #DDD;
        border-radius: 3px;

        .fileInfoBar {
            padding: 10px;
            border-bottom: 1px solid #DDD;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .fileName {
                margin: 0 3px;
                font-weight: bold;
            }
        }

        .htmlWrapper {
            padding: 0 10px;
        }

        .content {
            margin: 10px 25px;
            overflow: auto;
        }
    }
}