.Repositories {
    @import "../../../../GlobalStyle/COLOR.css";

    .tools {
        padding-bottom: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);
    }

    .buttonWrapper {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
}