.FileList {
    @import "../../../../../../GlobalStyle/COLOR.css";

    border: 1px solid var(--GLOBAL_BORDER_COLOR);
    border-radius: 3px;

    .lastCommitInfoBar {
        border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);
    }
}

.readmeWrapper {
    margin-top: 15px;
}