.Code {
    .description {
        padding: 15px 0;
    }

    .buttonWrapper {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftButtonWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .newPullRequestButtonWrapper {
                margin-left: 5px;
            }
        }
    }
}