.BlockDiff {
    @import "../../../../../../../../GlobalStyle/COLOR.css";

    .infoWrapper {
        padding: 5px 10px;
        background-color: var(--GLOBAL_CARD_HEADER_BACKGROUND_COLOR);
        color: var(--GLOBAL_LIGHT_TEXT_COLOR);
        font-size: 14px;
        font-weight: bolder;
    }

    .codeWrapper {
        overflow: auto;
    }
}