.BlockDiff {
    .infoWrapper {
        padding: 5px 10px;
        background-color: #F1F8FF;
        color: #666;
        font-size: 14px;
        font-weight: bolder;
    }

    .codeWrapper {
        overflow: auto;
    }
}