.LoggedInMenu {

    .notificationWrapper {
        height: 100%;

        .notificationIconWrapper {
            line-height: 1rem;
            font-size: 1rem;
            margin-left: 10px;
        }
    }
}