@import "../../LinkStyle";

.LoggedInMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    a, .popoverContent {
        @extend %link;
    }

    .notificationWrapper {
        height: 100%;

        .notificationIconWrapper {
            line-height: 1rem;
            font-size: 1rem;
            margin-left: 10px;
        }
    }

    .itemWrapper {
        margin-left: 30px;
        cursor: pointer;
    }
}