@import "../../../../GlobalStyle/COLOR.css";

.BranchOrTagMenu {

}

.menuWrapper {

    .menu {
        border: none;
        min-width: 250px;

        .menuItem {
            display: flex;
            align-items: center;

            .checkIconWrapper {
                width: 1em;
                margin-right: 0.5em;
                text-align: center;
            }

            .name {
                font-size: 12px;
            }
        }

        .fullListLinkWrapper {
            text-align: right;
            font-size: 10px;
        }
    }
}