.Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .iconWrapper {
        font-size: 75px;
        color: #6CF;
    }

    .text {
        font-size: 30px;

        @keyframes fade {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        animation: fade 2s;
        animation-iteration-count: infinite;
        user-select: none;
    }
}