.PullRequests {
    @import "../../../../GlobalStyle/COLOR.css";

    margin: 15px 0;

    .list {
        border: 1px solid var(--GLOBAL_BORDER_COLOR);
        border-radius: 3px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px;
            border-bottom: 1px solid var(--GLOBAL_BORDER_COLOR);

            .statusFilter {
                display: flex;
                justify-content: center;
                align-items: center;

                .tag {
                    margin-right: 0;
                    margin-left: 5px;
                }
            }
        }

        .pullRequestListWrapper {

        }
    }

    .pageButtonWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
    }
}