.Index {
    width: 90vw;
    margin: 5vh auto;

    .alertWrapper {
        margin-bottom: 15px;

        .description {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .meme {
                height: 100px;
            }
        }
    }

    .repositoryWrapper {
        display: block;
        margin: 3vh 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}