.Members {
    margin-top: 15px;

    .topArea {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cardContent {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .titleWrapper {
            display: inline-flex;
            align-items: center;

            .name {
                font-size: 1rem;
                margin-right: 5px;
                line-height: 1em;
            }

            .isAdminTagWrapper {
                display: flex;
                align-items: center;

                .isAdminTag {
                    margin: 0;
                }
            }
        }

        .avatarWrapper {
            width: 30px;
            display: flex;
            align-items: center;
            margin-right: 10px;

            .avatar {
                width: 100%;
            }
        }

        .buttonWrapper {

        }
    }
}