.Members {
    margin-top: 15px;

    .cardContent {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .titleWrapper {
            display: inline-flex;
            align-items: center;

            .title {
                font-size: 1rem;
            }
        }

        .avatarWrapper {
            width: 30px;
            display: flex;
            align-items: center;
            margin-right: 10px;

            .avatar {
                width: 100%;
            }
        }

        .buttonWrapper {

        }
    }
}